{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block body %}
    style="background-image: linear-gradient(to right top, #050078, #a3006b, #e8414f, #ffa041, #f9f871);"
{% endblock %}

{% block main %}
    <div class="password-change-container">
        <form action="/password" method="post" class="text-center">
            <div class="mb-5">
                <input 
                    type="password" 
                    id="old_password" 
                    name="old_password" 
                    placeholder="Current Password" 
                    required 
                    autocomplete="off" 
                    autofocus 
                    class="form-control mx-auto ">
            </div>
            <div class="mb-4 mt-2">
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    placeholder="New Password" 
                    required 
                    class="form-control mx-auto">
                <input 
                    type="password" 
                    id="confirm_pass" 
                    name="confirmation" 
                    placeholder="Confirm New Password" 
                    required 
                    class="form-control mx-auto mt-4 mb-1">
                <p class="text-center fs-6 fw-light">Passwords must match</p>
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
    </div>
{% endblock %}
